﻿@model PassionProject.ViewModels.NewBookViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Add New Book</h3>


@using (Html.BeginForm("New","Book","POST")) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Book.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" id="bookTitle" name="bookTitle" class="form-control" />
            @Html.ValidationMessageFor(model => model.Book.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Book.author, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="BookAuthor" name="BookAuthor" class="form-control">
                @foreach (var author in Model.AuthorsName)
                {
                    <option value="@author.AuthorId">@author.AuthorName</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Book.author, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Book.genre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="BookGenre" name="BookGenre" class="form-control">
                @foreach (var genre in Model.GenreNames)
                {
                    <option value="@genre.GenreId">@genre.GenreName</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Book.genre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Book.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea id="bookDescription" name="bookDescription" class="form-control"></textarea>
            @Html.ValidationMessageFor(model => model.Book.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    <a href="/Book"><input type='button' class='btn btn-primary' value="Back" /></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
