﻿@model PassionProject.Models.Book

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete <strong>@Model.Title</strong>?</h3>
<div>
    <hr />
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.author.AuthorName)</th>
            <td>@Html.DisplayFor(model => model.author.AuthorName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.genre.GenreName)</th>
            <td>@Html.DisplayFor(model => model.genre.GenreName)</td>
        </tr>
        <tr>
            <th colspan="2">
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a href="/Book"><input type='button' class='btn btn-primary' value="Back" /></a>
                </div>
            </th>
        </tr>
    </table>

    @using (Html.BeginForm("Delete","Book")) {
        @Html.AntiForgeryToken()

   
    }
</div>
