﻿@model PassionProject.Models.Book

@{
    ViewBag.Title = "Details-"+ Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Html.DisplayFor(model => model.Title)</h3>

<div>
    <hr />
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.author.AuthorName)</th>
            <td>@Html.DisplayFor(model => model.author.AuthorName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <td>@Html.DisplayFor(model => model.Description)</td>
        </tr>
    </table>
</div>
<p>
    <a href="/Book/Edit/@Model.BookId"><input type='button' class='btn btn-success' value="Edit" /></a>
    <a href="/Book"><input type='button' class='btn btn-primary' value="Back" /></a>
</p>
