﻿@model PassionProject.ViewModels.NewBookViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Edit - @Model.Book.Title</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Book.BookId)

    <div class="form-group">
        @Html.LabelFor(model => model.Book.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" id="bookTitle" name="bookTitle" class="form-control" value="@Model.Book.Title" />
            <input type="hidden" id="bookId" name="bookId" class="form-control" value="@Model.Book.BookId" />
            @Html.ValidationMessageFor(model => model.Book.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Book.author.AuthorId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="BookAuthor" name="BookAuthor" class="form-control">
                @foreach (var author in Model.AuthorsName)
                {
                    string list = "";
                    if (author.AuthorId == Model.Book.author.AuthorId)
                    {
                        list = " selected";
                    }
                    <option value="@author.AuthorId" @list>@author.AuthorName</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Book.author.AuthorId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Book.genre.GenreId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="BookGenre" name="BookGenre" class="form-control">
                @foreach (var genre in Model.GenreNames)
                {
                    string list = "";
                    if (genre.GenreId == Model.Book.genre.GenreId)
                    {
                        list = " selected";
                    }
                    <option value="@genre.GenreId" @list>@genre.GenreName</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Book.genre.GenreId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Book.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea id="bookDescription" name="bookDescription" class="form-control">@Model.Book.Description</textarea>
            @Html.ValidationMessageFor(model => model.Book.Title, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    <a href="/Book"><input type='button' class='btn btn-primary' value="Back" /></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
