﻿@model IEnumerable<PassionProject.Models.Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>List of books I am passionate about</h3>

<p>
    <a href="Book/Create"><input type='button' class='btn btn-primary' value="Add New Book" /></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genre.GenreName)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink(item.author.AuthorName, "Details/" + item.author.AuthorId, "Author")
        </td>
        <td>
            @Html.ActionLink(item.genre.GenreName, "Details/" + item.genre.GenreId, "Genre")
        </td>
            <td>
                <a href="Book/Edit/@item.BookId"><input type='button' class='btn btn-primary' value="Edit" /></a>
                <a href="Book/Details/@item.BookId"><input type='button' class='btn btn-success' value="View Details" /></a>
                <a href="Book/Delete/@item.BookId"><input type='button' class='btn btn-danger' value="Delete" /></a>
            </td>
        </tr>
        }

    </table>
