﻿@model PassionProject.Models.Author

@{
    ViewBag.Title = "Delete - "+@Model.AuthorName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Are you sure you want to delete <strong>@Model.AuthorName?</strong></h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete","Author")) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a href="/Author"><input type='button' class='btn btn-primary' value="Back" /></a>
    </div>
    }
</div>
