﻿@model PassionProject.Models.Author

@{
    ViewBag.Title = "Details - "+@Model.AuthorName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Details - @Model.AuthorName</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

    </dl>
</div>
<div>
    <table class="table table-striped">
        <tr>
            <th>Books written by  @Html.DisplayFor(model => model.AuthorName) </th>
            </th>
            @foreach(var books in Model.Books)
            {
        <tr><td>@Html.ActionLink(books.Title,"Details/" +books.BookId, "Book")</td></tr>
        }
    </table>
</div>

<p>
    <a href="/Author/Edit/@Model.AuthorId"><input type='button' class='btn btn-success' value="Edit" /></a>
    <a href="/Author"><input type='button' class='btn btn-primary' value="Back" /></a>
</p>
