﻿@model PassionProject.Models.Author

@{
    ViewBag.Title = "Edit - "+@Model.AuthorName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Edit - @Model.AuthorName</h3>


@using (Html.BeginForm("Edit","Author"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AuthorId)

    <div class="form-group">
        @Html.LabelFor(model => model.AuthorName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AuthorName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AuthorName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    <a href="/Author"><input type='button' class='btn btn-primary' value="Back" /></a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
