﻿@model IEnumerable<PassionProject.Models.Author>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>List of my favorite authors</h3>

<p>
    <a href="Author/Create"><input type='button' class='btn btn-primary' value="Add New Author" /></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            <a href="Author/Edit/@item.AuthorId"><input type='button' class='btn btn-primary' value="Edit" /></a>
            <a href="Author/Details/@item.AuthorId"><input type='button' class='btn btn-success' value="View Details" /></a>
            <a href="Author/Delete/@item.AuthorId"><input type='button' class='btn btn-danger' value="Delete" /></a>
        </td>
    </tr>
}

</table>
