﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <img src="~/Content/Images/book.jpg" class="image">
    </div>
</div>

<div>
    <h1>Passion Project</h1>
    <p class="lead">ASP.NET project about things I am passionate about - Books</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Books</h2>
        <p>
            In this section you will see the list of books, I am passionate about. 
        </p>
        <p><a class="btn btn-default" href="\Book">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Authors</h2>
        <p>This section displays the list of my favorite authors</p>
        <p><a class="btn btn-default" href="\Author">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Genre</h2>
        <p>List of genre of books I like reading</p>
        <p><a class="btn btn-default" href="\Genre">Learn more &raquo;</a></p>
    </div>
</div>