﻿@model PassionProject.Models.Genre

@{
    ViewBag.Title = "Details -"+Model.GenreName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Details - @Model.GenreName</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>

    </dl>
</div>
<div>
    <table class="table table-striped">
        <tr>
            <th>Books under genre  @Html.DisplayFor(model => model.GenreName) </th>
            </th>
            @foreach (var books in Model.Books)
            {
                 <tr><td>@Html.ActionLink(books.Title, "Details/" + books.BookId, "Book")</td></tr>
             }
        </table>
    </div>
<p>
    <a href="/Genre/Edit/@Model.GenreId"><input type='button' class='btn btn-success' value="Edit" /></a>
    <a href="/Genre"><input type='button' class='btn btn-primary' value="Back" /></a>
</p>
