﻿@model IEnumerable<PassionProject.Models.Genre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>List of possible book genre</h3>

<p>
    <a href="Genre/Create"><input type='button' class='btn btn-primary' value="Add New Genre" /></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GenreName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GenreName)
        </td>
        <td>
            <a href="Genre/Edit/@item.GenreId"><input type='button' class='btn btn-primary' value="Edit" /></a>
            <a href="Genre/Details/@item.GenreId"><input type='button' class='btn btn-success' value="View Details" /></a>
            <a href="Genre/Delete/@item.GenreId"><input type='button' class='btn btn-danger' value="Delete" /></a>
        </td>
    </tr>
}

</table>
